@import "tailwindcss";

@theme {
  /* Palet Warna DevArchitect */
  --color-background: #0b1326;
  --color-surface: #171f33;
  --color-surface-container-low: #131b2e;
  --color-surface-container-high: #222a3d;
  --color-primary: #57f1db;
  --color-primary-container: #2dd4bf;
  --color-on-primary: #003731;
  --color-on-primary-container: #00574d;
  --color-secondary-container: #1a4f47;
  --color-on-secondary-container: #8bbfb5;
  --color-on-surface: #dae2fd;
  --color-on-surface-variant: #bacac5;
  --color-outline-variant: #3c4a46;
}

body {
  background-color: var(--color-background);
  color: var(--color-on-surface);
}

@layer utilities {
  .glass-card {
    background: rgba(45, 52, 73, 0.4);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(133, 148, 144, 0.15);
  }

  .shimmer-text {
    background: linear-gradient(90deg, #57f1db 0%, #dae2fd 50%, #57f1db 100%);
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shimmer 4s linear infinite;
  }
}

@keyframes shimmer {
  to {
    background-position: 200% center;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--color-background);
}

::-webkit-scrollbar-thumb {
  background: var(--color-secondary-container);
  border-radius: 10px;
}